option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: ERP_backend.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: ERP_backend.settings

container_commands:
  01_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
    leader_only: true
  03_chmod:
    command: "chmod 775 /var/app/staging && touch /var/app/staging/db.sqlite3 && chmod 664 /var/app/staging/db.sqlite3"
    leader_only: true